html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.flexrow {
    display: flex;
    align-items: center;
    margin: 0;
}
.flexrow div {
    display: flex;
    align-items: center;
}
.flexrow h4 {
    margin-left: 10px;
    margin-right: 10px;
}

.container-fluid {
    padding: 0px;
}

.well, .well-lg {
    margin: 0px;
}

.col-sm-12 {
    padding: 0px;
}

.row {
    margin-right: 0px;
}

.centerdiv {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}